## python

>>> x = [1, 2]
>>> y = x
>>> y = [1, 2, 3]
>>> z = x
>>> z = z.append(4)
>>> x

______

>>> 0 and 1/0

______

>>> def much(wow):
        if much == wow:
            such = lambda wow: wow
            def wow(much):
                return such(much)
            return wow
        return 99

>>> wow = 6
>>> much(much)(wow)

______

Given an integer, write a function to determine if it is a power of three.

def is_power_of_three(n):
    """
    Example:
    >>> is_power_of_three(8)
    False
    >>> is_power_of_three(27)
    True
    >>> is_power_of_three(0)
    False
    """

Given an integer, write a function to determine if it is a prime number.
A prime number is a natural number greater than 1 that cannot be formed by multiplying two smaller natural numbers. 

def is_prime(n):
    """
    Example:
    >>> is_prime(10)
    False
    >>> is_prime(3)
    True
    """

## SQL

Table: Person

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| PersonId    | int     |
| FirstName   | varchar |
| LastName    | varchar |
+-------------+---------+
PersonId is the primary key column for this table.
Table: Address

+-------------+---------+
| Column Name | Type    |
+-------------+---------+
| AddressId   | int     |
| PersonId    | int     |
| City        | varchar |
| State       | varchar |
+-------------+---------+
AddressId is the primary key column for this table.
 

Write a SQL query for a report that provides the following information for each person in the Person table, regardless if there is an address for each of those people:

PersonId, FirstName, LastName, City, State

Write a SQL query to find all duplicate emails in a table named Person.

+----+---------+
| Id | Email   |
+----+---------+
| 1  | a@b.com |
| 2  | c@d.com |
| 3  | a@b.com |
+----+---------+
For example, your query should return the following for the above table:

+---------+
| Email   |
+---------+
| a@b.com |
+---------+
Note: All emails are in lowercase.

Please describe the excution sequence of this query: 


SELECT a.shop_id, a.shop_name, b.order_id, c.order_date
FROM table_1 AS a
LEFT JOIN table_2 AS b ON a.shop_id = b.shop_id
LEFT JOIN table_3 AS c ON b.order_id = c.order_id
WHERE c.order_date >= '2018-07-01'::TIMESTAMP

Please write a query to get the top 3 item_id (has most distinct order_ids) for each category and their order count together with its rank for each category.


Table: item_sales_infomation

+-------------+----------+
| Column Name | Type     |
+-------------+----------+
| item_id     | int      |
| order_id    | int      |
| category    | varchar  |
| sold_date   | timestamp|
+-------------+----------+


Your query should return the following output for the above table:

+----------+---------------+------------+------+
|  item_id |  order_count  |  category  | rank |
+----------+---------------+------------+------+
|   t3902  |      2599     |  Clothes   |   1  |
|   t7892  |      2320     |  Clothes   |   2  |
|   t1829  |      1878     |  Clothes   |   3  |
|   k1290  |      1299     |  Shoes     |   1  |
|   k4729  |      872      |  Shoes     |   2  |
|   k0173  |      729      |  Shoes     |   3  |
...                                            |
+----------+---------------+------------+------+

Write a SQL query to get how many orders each seller had in each country in a table named seller_sales_information.


Table: seller_sales_infomation

+----------+-----------+---------------+
| order_id | seller_id | order_country |
+----------+-----------+---------------+
|   c409   |    a01    |      CN       |
|   c372   |    a01    |      CN       |
|   c302   |    a01    |      CN       |
|   t121   |    a01    |      TH       |
|   s201   |    b01    |      SG       |
|   t242   |    b01    |      TH       |
|   c563   |    c01    |      CN       |
|   s507   |    c01    |      SG       |
+----------+-----------+---------------+


Your query should return the following output for the above table:
(for the seller who doesn't have an order in a certain country, output 0 in total_orders for that country)
+-----------+---------------+--------------+
| seller_id | order_country | total_orders |
+-----------+---------------+--------------+
|    a01    |       CN      |      3       |
|    a01    |       SG      |      0       |
|    a01    |       TH      |      1       |
|    b01    |       CN      |      0       |
|    b01    |       SG      |      1       |
|    b01    |       TH      |      1       |
|    c01    |       CN      |      1       |
|    c01    |       SG      |      1       |
|    c01    |       TH      |      0       |
+-----------+---------------+--------------+



Please write a query to get desired output.

## Statistics

1.The following data is from a random sample: 5, 1, 3, 3, 8. Compute the sample mean, sample standard deviation and sample median? Sample mean: 4 ;Sample variance : 7; Sample median: 3





2.Suppose X is a random variable with E(X) = 5 and Var(X) = 2. What is E(X**2)?






3.Suppose that P(A)=0.4, P(B)=0.3 and P((A ∪ B)**C) = 0.42. Are A and B independent?







4.There are 3 arrangements of the word DAD, namely DAD, ADD, and DDA. How many arrangements are there of the word PROBABILITY? 9979200







5.Suppose you are taking a multiple-choice test with c choices for each question. In answering a question on this test, the probability that you know the answer is p. If you don’t know the answer, you choose one at random. What is the probability that you knew the answer to a question, given that you answered it correctly? p/(p+(1-p)/c)







6. Flip a coin 1000 times, got 538 heads and 462 tails, explain how would you calculate whether the difference is significant enough to question the fairness of the coin (other than by coincidence)

## database

What is primary key and foreign key?

Please explain what is the pros and cons of indexing for a table in a database and why?

## engineering

What is the difference between thread and process, and when to utilize which when doing parallel programming?

How do you intend to process 100G csv file (for an aggregation result) with 8G memory laptop?

## machine learning

Please describe a commonly used machine learning pipeline.

## Analysis

There are many things affecting the conversion rate (CV) of a shop (orders / views by customers), please list at least 3 factors which might affect CV and your corresponding strategy for a higher CV.

What do you think are the most important aspects in business analysis, and what is your strength?