In [89]:
import pandas as pd
import os
import datetime

In [90]:
os.chdir("D:\\Program Files (x86)\\百度云同步盘\\Dropbox\\Shopee 2016.4.12\\")
os.getcwd()

'D:\\Program Files (x86)\\百度云同步盘\\Dropbox\\Shopee 2016.4.12'

In [91]:
seller_index_path = os.path.join(os.getcwd(), "2016.8.28 Seller Index Data", "seller_index.csv")
seller_index_path

'D:\\Program Files (x86)\\百度云同步盘\\Dropbox\\Shopee 2016.4.12\\2016.8.28 Seller Index Data\\seller_index.csv'

In [92]:
pwd = os.getcwd()
os.chdir(os.path.dirname(seller_index_path))
seller_index = pd.read_csv(os.path.basename(seller_index_path), index_col=None, header=0, encoding="GB18030")
os.chdir(pwd)
seller_index.head()

C:\Users\Enzo.kuang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 1,Avg Daily Orders MTD,Child Account Name,Child Account Owner,Child Account Record Type,Child ShopID,Child UserID,Date Transferred From Onboarding Team,GP Account ID,GP Account Lead Name,GP Account Lead Size,GP Account Name,GP Account Owner,GP Account Seller Classification,GP Account Shopee Account Created Date,GP Date Transferred From Onboarding Team,Shopee Account Created Date,primary category
0,0,2018-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shopee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,0.0,mioshop.id,Vicky Liu,RM-ID,50929356.0,50930744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/01/2018,NaN
2,2,NaN,0.0,rosegoods.id,Vicky Liu,RM-ID,50929419.0,50930807.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/01/2018,NaN
3,3,NaN,0.0,moily.id,Vicky Liu,RM-ID,50929487.0,50930875.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/01/2018,NaN
4,4,NaN,0.0,myrongoods.id,Vicky Liu,RM-ID,50929528.0,50930916.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,04/01/2018,NaN

In [93]:
seller_index.columns.tolist()

['Unnamed: 0',
 'Unnamed: 1',
 'Avg Daily Orders MTD',
 'Child Account Name',
 'Child Account Owner',
 'Child Account Record Type',
 'Child ShopID',
 'Child UserID',
 'Date Transferred From Onboarding Team',
 'GP Account ID',
 'GP Account Lead Name',
 'GP Account Lead Size',
 'GP Account Name',
 'GP Account Owner',
 'GP Account Seller Classification',
 'GP Account Shopee Account Created Date',
 'GP Date Transferred From Onboarding Team',
 'Shopee Account Created Date',
 'primary category']

In [94]:
lead_index_path = os.path.join(os.getcwd(), "2017.8.11 Lead Index Data", "lead_index.csv")
lead_index_path

'D:\\Program Files (x86)\\百度云同步盘\\Dropbox\\Shopee 2016.4.12\\2017.8.11 Lead Index Data\\lead_index.csv'

In [95]:
pwd = os.getcwd()
os.chdir(os.path.dirname(lead_index_path))
lead_index = pd.read_csv(os.path.basename(lead_index_path), index_col=None, header=0, encoding="GB18030")
os.chdir(pwd)
lead_index.head()

C:\Users\Enzo.kuang\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (3,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 1,Average Sales Cycle,Average Unit Price,Average Unit Price Currency,Business License Number,City,Claimed Date,Company Size,Date Transferred to Onboarding Queue,...,Sales Lead: Owner Name,Second Category,Seller Attribute,Seller Classification,Shipping City,Shipping Province,Source,Storefront URL,Total Daily Orders on All Platforms,Updated on
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-01-04
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
lead_index.columns.tolist()

['Unnamed: 0',
 'Unnamed: 1',
 'Average Sales Cycle',
 'Average Unit Price',
 'Average Unit Price Currency',
 'Business License Number',
 'City',
 'Claimed Date',
 'Company Size',
 'Date Transferred to Onboarding Queue',
 'Date of Status Changed From Open',
 'Experience',
 'Key Brands 1',
 'Lead Gen',
 'Lead Size',
 'Lead Source Details',
 'Lead Status',
 'Office Province',
 'Open Lead Duration',
 'Primary Category',
 'Reason for Junk Lead',
 'SKU Potential',
 'Sales Lead: Created Date',
 'Sales Lead: ID',
 'Sales Lead: Lead Name',
 'Sales Lead: Owner Name',
 'Second Category',
 'Seller Attribute',
 'Seller Classification',
 'Shipping City',
 'Shipping Province',
 'Source',
 'Storefront URL',
 'Total Daily Orders on All Platforms',
 'Updated on']

In [97]:
lead_group = lead_index['Sales Lead: ID'].groupby(lead_index['Sales Lead: Owner Name']).count()
lead_group

Sales Lead: Owner Name
Alex Dong                                    557
Alice Huang                                  424
Andrea Ke                                      4
Anita Xiao                                   164
Bella Liu                                     63
BiYuan Li                                    138
Bin Li                                        11
Boey Peng                                    148
CB - Leads for On Boarding Team               25
CB - Leads for On Boarding Team(SH Team)      18
Carye Ma                                     502
Catherine Xian                                71
Chloe Zeng                                    72
Christine Tang                               129
Cindy Jin                                    155
Cody Xiao                                      1
Conner Liao                                   11
Cross Border Leads                           187
Derek Chen                                     1
Eason Yang                                    77
Echo Zeng                                      6
Erica Lu                                      12
Eve Li                                       656
Harry Kam                                      1
Hawen Xie                                     66
Isabella Zhong                                26
Ivan Wu                                      373
Jean Wang                                     36
Jenny Ang                                      2
Jessie Shao                                   22
                                            ...
Magnolia Fang                                  8
Mango Wang                                     3
Mei Wenjuan                                  184
Michael Li                                   106
Miser Zhang                                  172
Nikki Yu                                     130
Nikuva Ma                                    364
Olivia Chen                                  639
Phoebe Jiang                                   7
Remy Liu                                     151
Ruby Song                                     73
Sean Huang                                   499
Shelly Zhuo                                  118
Sherry Pi                                    152
Shirley Xue                                    5
Stacy Tan                                    422
Stark Lan                                    598
Stephen Mao                                   56
Steven Luo                                   572
Sun Shona                                     82
Tommy So                                      91
Vicky Liu                                    148
Vincent Wei                                  269
Yedda Chen                                  1875
Yoyo Zhao                                    170
Zheng Kai                                     19
albert zhang                                 451
jessie zhang                                 113
vincent wang                                 376
wu sherry                                    484
Name: Sales Lead: ID, dtype: int64

In [98]:
lead_index['Claimed Date'] = pd.to_datetime(lead_index['Claimed Date'])

start_of_w_2 = datetime.date(2017,12,18)
end_of_w_2 = datetime.date(2017,12,24)

lead_index_claim_date_is_w_2 = lead_index[(lead_index['Claimed Date'] >= start_of_w_2) & (lead_index['Claimed Date'] <= end_of_w_2)]
lead_index_claim_date_is_w_2.head()

,Unnamed: 0,Unnamed: 1,Average Sales Cycle,Average Unit Price,Average Unit Price Currency,Business License Number,City,Claimed Date,Company Size,Date Transferred to Onboarding Queue,...,Sales Lead: Owner Name,Second Category,Seller Attribute,Seller Classification,Shipping City,Shipping Province,Source,Storefront URL,Total Daily Orders on All Platforms,Updated on
1406,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,Boey Peng,Everything Else,Own Factory,CB Trader,Shenzhen,Guangdong,Others - 卖家介绍,https://www.wish.com/merchant/5559cc9e16bbef0e...,1500.0,NaN
1473,1473,NaN,NaN,10.0,USD,91440300683793862W,Shenzhen,2017-12-20,31-50,NaN,...,Boey Peng,Sports & Outdoor,Own Factory,CB Trader,Shenzhen,Guangdong,ERP - 店小秘,NaN,500.0,NaN
2170,2170,NaN,NaN,13.0,USD,91440300359873043G,Shenzhen,2017-12-21,10-30,NaN,...,Chloe Zeng,Men's Clothing,Own Factory,CB Manufacturer/Brand Owner,Shenzhen,Guangdong,Others - 卖家介绍,https://atgnz.tmall.com/?spm=a1z10.1-b.1997427...,50.0,NaN
3547,3547,NaN,NaN,50.0,USD,91441900617994922G,东莞,2017-12-22,31-50,NaN,...,Ivan Wu,Everything Else,None,CB Trader,东莞,Guangdong,Others,NO,500.0,NaN
3676,3676,NaN,NaN,50.0,USD,91410105MA3X72LXXE,郑州,2017-12-22,10-30,NaN,...,Ivan Wu,Everything Else,None,CB Trader,郑州,Henan,Others,NO,500.0,NaN

In [99]:
lead_index_claim_date_is_w_2_group = lead_index_claim_date_is_w_2['Sales Lead: ID'].groupby(lead_index_claim_date_is_w_2['Sales Lead: Owner Name']).count()
lead_index_claim_date_is_w_2_group

Sales Lead: Owner Name
Boey Peng         2
Chloe Zeng        1
Ivan Wu           4
Johnny Chen       1
Jun Li            6
Leo Li          188
Nikki Yu          2
Ruby Song         1
Shelly Zhuo       3
Sun Shona         3
Tommy So          1
Vicky Liu         1
Yedda Chen      141
Yoyo Zhao         3
Zheng Kai         2
vincent wang     42
wu sherry        74
Name: Sales Lead: ID, dtype: int64

In [100]:
lead_index_claim_date_is_w_2 = pd.merge(lead_index_claim_date_is_w_2, seller_index, how='left', left_on=['Sales Lead: Lead Name'], right_on=['GP Account Lead Name'])
lead_index_claim_date_is_w_2.head()

,Unnamed: 0_x,Unnamed: 1_x,Average Sales Cycle,Average Unit Price,Average Unit Price Currency,Business License Number,City,Claimed Date,Company Size,Date Transferred to Onboarding Queue,...,GP Account ID,GP Account Lead Name,GP Account Lead Size,GP Account Name,GP Account Owner,GP Account Seller Classification,GP Account Shopee Account Created Date,GP Date Transferred From Onboarding Team,Shopee Account Created Date,primary category
0,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,0010K00001e8cuZ,福建省安溪县明升化工有限公司,Medium,福建省安溪县明升化工有限公司,Boey Peng,CB Trader,25/12/2017,NaN,25/12/2017,Mobile & Accessories
1,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,0010K00001e8cuZ,福建省安溪县明升化工有限公司,Medium,福建省安溪县明升化工有限公司,Boey Peng,CB Trader,25/12/2017,NaN,25/12/2017,Mobile & Accessories
2,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,0010K00001e8cuZ,福建省安溪县明升化工有限公司,Medium,福建省安溪县明升化工有限公司,Boey Peng,CB Trader,25/12/2017,NaN,25/12/2017,Mobile & Gadgets
3,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,0010K00001e8cuZ,福建省安溪县明升化工有限公司,Medium,福建省安溪县明升化工有限公司,Boey Peng,CB Trader,25/12/2017,NaN,25/12/2017,Mobile & Accessories
4,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,0010K00001e8cuZ,福建省安溪县明升化工有限公司,Medium,福建省安溪县明升化工有限公司,Boey Peng,CB Trader,25/12/2017,NaN,25/12/2017,Mobile & Gadgets

In [101]:
lead_index_claim_date_is_w_2.columns.tolist()

['Unnamed: 0_x',
 'Unnamed: 1_x',
 'Average Sales Cycle',
 'Average Unit Price',
 'Average Unit Price Currency',
 'Business License Number',
 'City',
 'Claimed Date',
 'Company Size',
 'Date Transferred to Onboarding Queue',
 'Date of Status Changed From Open',
 'Experience',
 'Key Brands 1',
 'Lead Gen',
 'Lead Size',
 'Lead Source Details',
 'Lead Status',
 'Office Province',
 'Open Lead Duration',
 'Primary Category',
 'Reason for Junk Lead',
 'SKU Potential',
 'Sales Lead: Created Date',
 'Sales Lead: ID',
 'Sales Lead: Lead Name',
 'Sales Lead: Owner Name',
 'Second Category',
 'Seller Attribute',
 'Seller Classification',
 'Shipping City',
 'Shipping Province',
 'Source',
 'Storefront URL',
 'Total Daily Orders on All Platforms',
 'Updated on',
 'Unnamed: 0_y',
 'Unnamed: 1_y',
 'Avg Daily Orders MTD',
 'Child Account Name',
 'Child Account Owner',
 'Child Account Record Type',
 'Child ShopID',
 'Child UserID',
 'Date Transferred From Onboarding Team',
 'GP Account ID',
 'GP Account Lead Name',
 'GP Account Lead Size',
 'GP Account Name',
 'GP Account Owner',
 'GP Account Seller Classification',
 'GP Account Shopee Account Created Date',
 'GP Date Transferred From Onboarding Team',
 'Shopee Account Created Date',
 'primary category']

In [102]:
new_shop_path = os.path.join(os.getcwd(), "2016.8.28 Seller Index Data", "new_shop_index.csv")
new_shop_path

'D:\\Program Files (x86)\\百度云同步盘\\Dropbox\\Shopee 2016.4.12\\2016.8.28 Seller Index Data\\new_shop_index.csv'

In [103]:
pwd = os.getcwd()
os.chdir(os.path.dirname(new_shop_path))
new_shop_index = pd.read_csv(os.path.basename(new_shop_path), index_col=None, header=0, encoding="GB18030")
os.chdir(pwd)
new_shop_index.head()

,Unnamed: 0,First Time Reach,PIC,Shop id,Shop name,Shop url,Site,Update date
0,0,0.0,Jun,13495361.0,delaman.sg,http://shopee.sg/delaman.sg,SG,2017-08-17
1,1,0.0,Ki,14146522.0,tongtongstore.sg,http://shopee.sg/tongtongstore.sg,SG,NaN
2,2,0.0,Vicky,16909707.0,topshop.sg,http://shopee.sg/topshop.sg,SG,NaN
3,3,0.0,Jolene,17230446.0,beverlymemory.sg,http://shopee.sg/beverlymemory.sg,SG,NaN
4,4,0.0,Joanne,17281849.0,leadingsea.sg,http://shopee.sg/leadingsea.sg,SG,NaN

In [105]:
lead_index_claim_date_is_w_2 = pd.merge(lead_index_claim_date_is_w_2, new_shop_index, how='left', left_on=['Child ShopID'], right_on=['Shop id'])
lead_index_claim_date_is_w_2.head()

,Unnamed: 0_x,Unnamed: 1_x,Average Sales Cycle,Average Unit Price,Average Unit Price Currency,Business License Number,City,Claimed Date,Company Size,Date Transferred to Onboarding Queue,...,Shopee Account Created Date,primary category,Unnamed: 0,First Time Reach,PIC,Shop id,Shop name,Shop url,Site,Update date
0,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,25/12/2017,Mobile & Accessories,1952.0,0.0,NaN,49657321.0,manson.sg,http://shopee.sg/manson.sg,SG,2018-01-03
1,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,25/12/2017,Mobile & Accessories,6763.0,NaN,NaN,49655381.0,manson.my,http://shopee.com.my/manson.my,MY,2018-01-03
2,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,25/12/2017,Mobile & Gadgets,1817.0,0.0,NaN,49656076.0,manson.th,http://shopee.co.th/manson.th,TH,2018-01-03
3,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,25/12/2017,Mobile & Accessories,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1406,NaN,NaN,5.0,USD,91350524156349401B,Anxi,2017-12-20,31-50,NaN,...,25/12/2017,Mobile & Gadgets,10700.0,0.0,NaN,49654953.0,axmanson,http://shopee.tw/axmanson,TW,2018-01-01

In [ ]:
lead_index_claim_date_is_w_2['Update date'] = pd.to_datetime(lead_index_claim_date_is_w_2['Update date'])

start_of_w_1 = datetime.date(2017,12,25)
end_of_w_1 = datetime.date(2017,12,31)

lead_index_claim_date_is_w_2_new_shop_is_w_1 = lead_index_claim_date_is_w_2[(lead_index_claim_date_is_w_2['']) & ()]